name: Python SDK Test

on:
  # Run the tests on every push to the master branch
  push:
    branches: [ "master" ]

  # Run the tests for the default branch [master] every Monday 3:00 pm UTC time (8:00 am PST)
  schedule:
    - cron: "0 15 * * 1"

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.5", "3.6", "3.7"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox
        run: pip install tox
      - id: tests
        name: Run the tests
        env:
          SHIPPO_API_KEY: ${{ secrets.SHIPPO_TEST_KEY }}
        run: tox -e py
      - name: Send a Slack notification saying if tests are passing/failing for a given Python version
        shell: bash
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: |
          conclusion=${{ steps.tests.conclusion }}
          if [[ "$conclusion" == "success" ]]; then
            message="✅ Python SDK Test succeeded for Python ${{ matrix.python }}"
          else
            message="❌ Python SDK Test failed for Python ${{ matrix.python }}"
          fi

          curl -X POST --data-urlencode "payload={\"text\": \"$message\", \"link_names\": 1}" $SLACK_WEBHOOK_URL
